<h2>Importing libraries

In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns

<h2>Loading Data

In [2]:
raw_loans = pd.read_csv("data_loans_5k.csv")
raw_assessments = pd.read_csv("data_assessments_5k.csv")

G:\Anaconda\lib\site-packages\IPython\core\interactiveshell.py:3057: DtypeWarning: Columns (204,249) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
raw_loans.columns

Index(['boost_loan_id', 'max_dpd', 'current_dpd', 'no_of_paid_installments',
       'no_of_missed_installments', 'is_non_starter', 'amount', 'disbursed_at',
       'emi_amount', 'master_user_id', 'period'],
      dtype='object')

In [4]:
raw_loans.describe()

,boost_loan_id,max_dpd,current_dpd,no_of_paid_installments,no_of_missed_installments,amount,emi_amount,master_user_id,period
count,4999.000000,4999.000000,4999.000000,4999.000000,4999.000000,4999.000000,4999.000000,4999.000000,4999.000000
mean,2500.000000,47.339068,37.040808,5.629326,0.730546,32746.130026,4678.516005,1917.337267,7.312462
std,1443.231328,89.793307,90.237062,2.593978,1.751810,20635.412033,2457.454784,1286.778384,2.332845
min,1.000000,-39.000000,0.000000,0.000000,0.000000,4500.000000,26.560000,1.000000,3.000000
25%,1250.500000,1.000000,0.000000,3.000000,0.000000,15000.000000,2770.960000,794.000000,6.000000
50%,2500.000000,4.000000,0.000000,6.000000,0.000000,30000.000000,4165.520000,1711.000000,9.000000
75%,3749.500000,35.000000,4.000000,8.000000,0.000000,50000.000000,6125.770000,2991.500000,9.000000
max,4999.000000,583.000000,583.000000,9.000000,9.000000,200000.000000,34810.640000,4458.000000,24.000000

In [5]:
raw_assessments.columns

Index(['age', 'all_devices_count', 'assessment_rules', 'bank_sms_count',
       'bureau', 'cc_american_express_count', 'cc_avg_days_between_txns',
       'cc_avg_monthly_txn_amount_12m', 'cc_avg_monthly_txn_amount_1m',
       'cc_avg_monthly_txn_amount_2m',
       ...
       'suit_filed_wilful_default_count_52', 'sum_overdue_amount_52',
       'sum_overdue_amount_cc_52', 'sum_overdue_amount_non_cc_52',
       'unsecured_inquiry_count_9', 'updated_at', 'version',
       'wilful_default_count_52', 'written_off_count_52', 'line_amount'],
      dtype='object', length=450)